.home__footer
    padding: 2rem 10%
    background: $color__gradient
    @include flex(row, center, center)
    @media screen and ( max-width: 1100px )
        padding: 1rem 10%
    @media screen and ( max-width: 940px )
        padding: 1rem
        @include flex(column, flex-start, center)
    .footer__container
        width: 80%
        @include flex(row, center, space-between)
        @media screen and ( max-width: 1600px )
            width: 100%
        @media screen and ( max-width: 940px )
            @include flex(column, flex-start, center)
        .footer__description
            width: 30%
            @media screen and ( max-width: 1600px )
                width: 40%
            @media screen and ( max-width: 940px )
                width: 100%
                margin-bottom: 4rem
            @include flex(column, flex-start, center)
            .footer__heading
                font-size: 2rem
                margin-bottom: 2rem
            .footer__quote
                line-height: 130%
                margin-bottom: 1.4rem
                @media screen and ( max-width: 1600px )
                    font-size: .9rem
            .footer__attribution
                align-self: flex-end
                @media screen and ( max-width: 1600px )
                    font-size: .9rem
        .footer__links
            width: fit-content
            @include flex(column, flex-start, space-between)
            a
                font-size: 1.1rem
                @include transition(200ms, ease-in-out)
                @media screen and ( max-width: 1600px )
                    font-size: .9rem
                @media screen and ( max-width: 940px )
                    font-size: 1rem
                    margin-bottom: 1rem
                &:hover
                    color: $color__dark