.home__main
    width: 100%
    height: 100vh
    padding: 0 10%
    @include flex(column, center, flex-start)
    .paths__heading
        width: 80%
        font-size: 6rem
        color: $color__primary
        margin-bottom: 1rem
    .paths__content
        margin-bottom: 10%
        font-size: 4rem
        width: 80%
        font-weight: 300
    .home__main__info
        width: 80%
        @include flex(row, center, space-between)
    .info__section
        width: 40%
        .info__heading
            font-size: 3rem
            color: $color__primary
            margin-bottom: 1rem
        .info__content
            font-size: 1.3rem
            margin-bottom: 1rem
            line-height: 150%
            font-weight: 300
        a
            @include flex(row, center, space-between)
            width: fit-content
            padding: 1rem 2rem
            border-radius: 8px
            margin-top: 2rem
            background-color: $color__gray
            border: 1px solid transparent
            transition-duration: .3s
            transition-timing-function: ease-in-out
            &:hover
                border: 1px solid $color__primary
                background-color: transparent
            *
                color: $color__primary
            span
                margin-right: .6rem
    