.home__main
    width: 100%
    @include flex(column, center, flex-start)
    @media screen and ( max-width: 1600px )
        width: 80%
    @media screen and ( max-width: 900px )
        width: 100%
        padding: 0 1rem
    .main__heading
        width: 80%
        font-size: 6rem
        color: $color__primary
        margin-bottom: 1rem
        @media screen and ( max-width: 2200px )
            font-size: 5rem
        @media screen and ( max-width: 1600px )
            font-size: 4rem
            width: 100%
        @media screen and ( max-width: 900px )
            font-size: 2.4rem
    .main__content
        margin-bottom: 10vh
        font-size: 4rem
        width: 80%
        font-weight: 300
        @media screen and ( max-width: 2200px )
            font-size: 3rem
        @media screen and ( max-width: 1600px )
            font-size: 2rem
            width: 100%
            align-self: flex-start
        @media screen and ( max-width: 900px )
            font-size: 1rem
    .home__main__info
        margin-bottom: 10vh
        width: 80%
        @include flex(column, center, space-between)
        @media screen and ( max-width: 1600px )
            width: 100%
        .info__section
            width: 50%
            @media screen and ( max-width: 900px )
                width: 100%
                margin-bottom: 10vh !important
            .info__heading
                font-size: 3rem
                color: $color__primary
                margin-bottom: 1rem
                @media screen and ( max-width: 1600px )
                    font-size: 2.4rem
                @media screen and ( max-width: 900px )
                    font-size: 1.6rem
            .info__content
                font-size: 1.3rem
                margin-bottom: 1rem
                line-height: 150%
                font-weight: 300
                @media screen and ( max-width: 1600px )
                    font-size: 1rem
                @media screen and ( max-width: 900px )
                    font-size: .9rem
            a
                @include flex(row, center, space-between)
                width: fit-content
                padding: 1rem 2rem
                border-radius: 8px
                margin-top: 2rem
                background-color: transparent
                border: 1px solid $color__light
                transition-duration: .3s
                transition-timing-function: ease-in-out
                *
                    cursor: pointer
                &:hover
                    border: 1px solid $color__primary
                    background-color: transparent
                span
                    margin-right: .6rem
                    color: $color__primary
    .main__quote
        display: block
        background: $color__gradient
        margin-bottom: 10vh
        width: 80%
        padding: 4rem
        border-radius: 1rem
        @include flex(column, center, center)
        @media screen and ( max-width: 1600px )
            width: 100%
        @media screen and ( max-width: 900px )
            padding: 1rem
            border-radius: .6rem
        q
            text-align: center
            color: $color__light
            font-size: 2.5rem
            line-height: 150%
            @media screen and ( max-width: 2200px )
                font-size: 2rem
            @media screen and ( max-width: 2000px )
                font-size: 1.7rem
            @media screen and ( max-width: 1800px )
                font-size: 1.5rem
            @media screen and ( max-width: 1600px )
                font-size: 1.3rem
            @media screen and ( max-width: 1400px )
                font-size: 1.1rem
        p
            text-align: center
            color: $color__light
            font-size: 2.5rem
            margin-top: 4rem
            @media screen and ( max-width: 2200px )
                font-size: 2rem
            @media screen and ( max-width: 2000px )
                font-size: 1.7rem
            @media screen and ( max-width: 1800px )
                font-size: 1.5rem
            @media screen and ( max-width: 1600px )
                font-size: 1.3rem
            @media screen and ( max-width: 1400px )
                font-size: 1.1rem
            @media screen and ( max-width: 900px )
                margin-top: 2rem
    .home__about
        @include flex(column, flex-start, flex-start)
        width: 80%
        margin-bottom: 10vh
        @media screen and ( max-width: 1600px )
            width: 100%
        .main__article
            width: 60%
            &:not(:last-child)
                margin-bottom: 10vh
            @media screen and ( max-width: 900px )
                width: 100%
            .article__heading
                font-size: 3rem
                color: $color__primary
                margin-bottom: 2rem
                @media screen and ( max-width: 1600px )
                    font-size: 2.4rem
            .article__content
                font-size: 1.3rem
                margin-bottom: 1rem
                line-height: 160%
                font-weight: 300
                @media screen and ( max-width: 1600px )
                    font-size: 1rem
    .home__contact
        @include flex(column, flex-start, flex-start)
        width: 80%
        margin-bottom: 10vh
        @media screen and ( max-width: 1600px )
            width: 100%
        .contact__area
            width: 100%
            @include flex(row-reverse, center, space-between)
            @media screen and ( max-width: 900px )
                @include flex(column-reverse, center, space-between)
            .contact__illustration
                max-width: 40%
                @media screen and ( max-width: 900px )
                    max-width: 100%
            .contact__form
                width: 40%
                @include flex(column, flex-start, center)
                @media screen and ( max-width: 900px )
                    width: 100%
                input:not(:last-child)
                    width: 100%
                    background-color: transparent
                    border: 1px solid $color__light
                    border-radius: 8px
                    padding: 1rem
                    margin-bottom: 1rem
                    transition-duration: .3s
                    transition-timing-function: ease-in-out
                    &:focus
                        outline: none
                        border: 2px solid $color__primary
                textarea
                    width: 100%
                    height: 20vh
                    resize: none
                    background-color: transparent
                    border: 1px solid $color__light
                    border-radius: 8px
                    padding: 1rem
                    transition-duration: .3s
                    transition-timing-function: ease-in-out
                    &:focus
                        outline: none
                        border: 2px solid $color__primary
                .submit
                    @include flex(row, center, space-between)
                    align-self: center
                    cursor: pointer
                    width: fit-content
                    padding: 1rem 6rem
                    border-radius: 8px
                    margin-top: 2rem
                    color: $color__primary
                    background-color: transparent
                    border: 1px solid $color__light
                    transition-duration: .3s
                    transition-timing-function: ease-in-out
                    &:hover
                        border: 1px solid $color__primary