.pool__main
    width: 100%
    padding: 5% 10%
    @include flex(column, center, center)
    @media screen and ( max-width: 900px )
        padding: 5vh 1rem
    @media screen and ( min-height: 1000px ) and ( max-width: 940px )
        padding: 100px 3vw
    .pool__main__heading
        color: $color__primary
        padding: 0
        margin: 0 0 2rem 0
        font-size: 6rem
        font-weight: 600
        @media screen and ( max-width: 1600px )
            font-size: 4rem
        @media screen and ( max-width: 1100px )
            font-size: 3rem
            margin: 0 0 1rem 0
        @media screen and ( max-width: 900px )
            font-size: 2.6rem