.pool__main
    width: 100%
    padding: 100px 10%
    @include flex(column, center, center)
    @media screen and ( max-width: 900px )
        padding: 5vh 1rem
    @media screen and ( min-height: 1000px ) and ( max-width: 940px )
        padding: 100px 3vw
    .button__scroll
        padding: 1rem 3rem
        background-color: transparent
        outline: none
        border: 1px solid $color__primary
        color: $color__primary
        border-radius: .4rem
        margin-bottom: 5rem
        transition-duration: 400ms
        &:hover
            background-color: $color__primary
            color: $color__light
    .pool__main__heading
        color: $color__primary
        padding: 0
        margin: 0 0 2rem 0
        font-size: 6rem
        font-weight: 600
        @media screen and ( max-width: 1600px )
            font-size: 4rem
        @media screen and ( max-width: 1100px )
            font-size: 3rem
            margin: 0 0 1rem 0
        @media screen and ( max-width: 900px )
            font-size: 2.6rem
    .pool__main__links
        padding-top: 100px
        @media screen and ( max-width: 1600px )
            margin-bottom: 6vh
        @media screen and ( max-width: 900px )
            margin-bottom: 4vh
        .links__heading
            font-size: 6rem
            color: $color__light
            margin-bottom: 5vh
            @media screen and ( max-width: 1600px )
                font-size: 4rem
                margin-bottom: 10vh
            @media screen and ( max-width: 1100px )
                font-size: 3rem
            @media screen and ( max-width: 900px )
                text-align: center
                font-size: 2.8rem
                margin-bottom: 10vh
        .link__grid
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: repeat(auto, 1fr)
            grid-column-gap: 10vw
            grid-row-gap: 10vh
            @media screen and ( max-width: 1600px )
                grid-column-gap: 3vw
                grid-row-gap: 14vh
            @media screen and ( max-width: 1100px )
                grid-row-gap: 14vh
            @media screen and ( max-width: 900px )
                @include flex(column, flex-start, center)
                grid-row-gap: 10vh