.nav__dsk
    width: 100%
    padding: 0 10%
    height: 100px
    background-color: rgba(0, 0, 0, .2)
    backdrop-filter: blur(16px)
    box-shadow: 2px 18px 99px -41px rgba(0,0,0,0.68)
    @include pos(fixed, 1000, 0, 0, 0, 0)
    @include flex(row, center, space-between)
    @media screen and ( max-width: 1200px )
        height: 80px
    .nav__title
        font-size: 2rem
        @media screen and ( max-width: 1600px )
            font-size: 1.6rem
        @media screen and ( max-width: 1200px )
            font-size: 1.4rem
        line-height: 100%
        color: $color__light
        span
            color: $color__primary
    .nav__list
        width: 26%
        @media screen and ( max-width: 1600px )
            width: 36%
        @media screen and ( max-width: 1200px )
            width: 32%
        @include flex(row, center, space-between)
        li
            font-size: 1.2rem
            @media screen and ( max-width: 1600px )
                font-size: 1rem
            @media screen and ( max-width: 1200px )
                font-size: .8rem
    .nav__social
        @media screen and ( max-width: 1200px )
            width: 12%
        @include flex(row, center, space-between)

.nav__mob
    width: 100%
    height: 80px
    @include pos(fixed, 10, 0, 0, unset, unset)
    .navbar
        background-color: rgba(0, 0, 0, .2)
        backdrop-filter: blur(4px)
        padding: 0 1rem
        width: 100%
        height: 100%
        position: relative
        @include flex(row, center, space-between)
        .nav__title
            font-size: 1.4rem
            span
                color: $color__primary
    .nav__drawer
        width: 100%
        height: 100vh
        background-color: $color__dark
        @include pos(fixed, 100, 0, 0, 0, 0)
        @include flex(column, center, space-between)
        .menu__close
            @include pos(absolute, 100, 27px, 1rem, unset, unset)
        .nav__list
            @include pos(absolute, 1, 0, 0, 10vh, 0)
            @include flex(column, center, center)
            .nav__list__item
                a
                    color: $color__light
                    text-align: center
                    font-size: 1.4rem
                &:not(:last-child)
                    margin-bottom: 2rem
        .nav__social
            width: 40%
            @include flex(row, center, space-between)
            @include pos(absolute, 1, unset, unset, 10vh, unset)