// Color Palette
$color__primary: rgb(122, 255, 51)
$color__secondary: rgb(0,159,107)
$color__dark: rgb(16, 16, 16)
$color__gray: rgb(47, 47, 47)
$color__light: rgb(255, 255, 255)
$color__gradient: linear-gradient(20deg, $color__secondary 0%, $color__primary 100%)

// Mixins    
@mixin flex($direction, $align, $justify)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: $align

@mixin pos($position, $zi, $top, $right, $bottom, $left)
    position: $position
    top: $top
    left: $left
    right: $right
    bottom: $bottom
    z-index: $zi

// Utilities

.ais__center
    align-self: center !important

.mt__6
    margin-top: 6rem !important

.mb__10vh
    margin-bottom: 5vh !important

.start
    align-self: flex-start !important

.end
    align-self: flex-end !important

.wide
    width: 100% !important

.row
    flex-direction: row !important

.rowrev
    flex-direction: row-reverse !important

.column__rev
    flex-direction: column-reverse !important

@media screen and ( max-width: 1600px )
    .in
        font-size: .6rem