// Gradient Palette
$C__000: rgb(38, 227, 136)
$C__020: rgb(1, 255, 132)
$C__045: rgb(41, 255, 114)
$C__070: rgb(90, 255, 95)
$C__100: rgb(122, 255, 51)

// Color Palette
$color__primary: rgb(122, 255, 51)
$color__secondary: #009f6b
$color__dark: rgb(16, 16, 16)
$color__gray: rgb(47, 47, 47)
$color__light: rgb(255, 255, 255)
$color__gradient: linear-gradient(0deg, $C__000 0%, $C__020 20%, $C__045 45%, $C__070 70%, $C__100 100%)

// Mixins    
@mixin flex($direction, $align, $justify)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: $align

@mixin pos($position, $zi, $top, $right, $bottom, $left)
    position: $position
    top: $top
    left: $left
    right: $right
    bottom: $bottom
    z-index: $zi

// Utilities

.ais__center
    align-self: center !important

.mt__6
    margin-top: 6rem !important

.mb__10vh
    margin-bottom: 5vh !important

.start
    align-self: flex-start !important

.end
    align-self: flex-end !important

.wide
    width: 100% !important

.row
    flex-direction: row !important

.rowrev
    flex-direction: row-reverse !important

.column__rev
    flex-direction: column-reverse !important

@media screen and ( max-width: 1600px )
    .in
        font-size: .6rem