@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,300,400&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@keyframes anime-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes anime-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}
.primary {
  color: #B7A3FF;
}

.light {
  color: #FFFFFF;
}

.dark {
  color: #101010;
}

.heading {
  font-size: 4rem;
  font-weight: 700;
}
@media screen and (max-width: 2200px) {
  .heading {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1700px) {
  .heading {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .heading {
    font-size: 2rem;
  }
}

.s-heading {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (max-width: 2200px) {
  .subheading {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1700px) {
  .subheading {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .subheading {
    font-size: 1rem;
  }
}

.s-subheading {
  font-size: 1.2rem;
  font-weight: 700;
}

.text {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 150%;
}
@media screen and (max-width: 2200px) {
  .text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1700px) {
  .text {
    font-size: 1rem;
    letter-spacing: unset;
  }
}
@media screen and (max-width: 1200px) {
  .text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 800px) {
  .text {
    font-size: 1rem;
  }
}

.t-center {
  text-align: center;
}

.text-dark * {
  color: #101010;
}

.bg__dark {
  background-color: #101010;
}

.bg__light {
  background-color: #FFFFFF;
}

.bg-primary {
  background-color: #B7A3FF;
}

.bg-pattern {
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-h {
  margin-bottom: 6rem;
}
@media screen and (max-width: 2200px) {
  .mb-h {
    margin-bottom: 3rem;
  }
}

.mb-s {
  margin-bottom: 3rem;
}
@media screen and (max-width: 2200px) {
  .mb-s {
    margin-bottom: 1rem;
  }
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-10vh {
  margin-top: 10vh;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.h-80 {
  min-height: 80vh;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.button__dark {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.2rem 4rem;
  border-radius: 8px;
  background-color: #101010;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.button__dark:hover {
  background-color: transparent;
  color: #101010;
  border: 1px solid #101010;
}
@media screen and (max-width: 1700px) {
  .button__dark {
    padding: 1rem 3rem;
  }
}
@media screen and (max-width: 1700px) {
  .button__dark {
    padding: 1rem 3rem;
  }
}

.button__light {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.2rem 4rem;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #101010;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.button__light:hover {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
@media screen and (max-width: 1700px) {
  .button__light {
    padding: 1rem 3rem;
  }
}
@media screen and (max-width: 1700px) {
  .button__light {
    padding: 1rem 3rem;
  }
}

.button__primary {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.2rem 4rem;
  border-radius: 8px;
  background-color: #B7A3FF;
  color: #101010;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.button__primary:hover {
  background-color: transparent;
  color: #B7A3FF;
  border: 1px solid #B7A3FF;
}
@media screen and (max-width: 1700px) {
  .button__primary {
    padding: 1rem 3rem;
  }
}
@media screen and (max-width: 1700px) {
  .button__primary {
    padding: 1rem 3rem;
  }
}

.invisible {
  display: none !important;
}

.visible {
  display: default !important;
}

.w-100 {
  width: 100%;
}

.eclipse {
  border-radius: 100rem;
}

.self-center {
  align-self: center;
}

.s-mob__nav {
  height: 10%;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: rgba(10, 10, 10, 0.6);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.s-mob__drawer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #101010;
}

.drawer__nav {
  height: 10%;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #101010;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.s-mob__drawer-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-mob__drawer-list .nav__item:not(:last-child) {
  margin-bottom: 3rem;
}

.loader__animation {
  display: block !important;
  animation-name: loader__animation;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loader__animation {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(60px) rotate(90deg);
  }
  50% {
    transform: translateX(0px) translateY(60px);
  }
  75% {
    transform: translateX(-60px) rotate(-90deg);
  }
  100% {
    transform: translateX(0px);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #101010;
  overscroll-behavior: contain;
  scrollbar-width: auto;
  scrollbar-color: #FFFFFF #101010;
}
body::-webkit-scrollbar {
  width: 12px;
}
@media screen and (max-width: 900px) {
  body::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
body::-webkit-scrollbar-track {
  background: #101010;
}
body::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}

p, q, li, a, button, h1, h2, h3, h4, h5, h6, input, textarea, span, tr, td, th {
  font-family: "Syne", sans-serif;
  color: #FFFFFF;
  cursor: default;
  margin: 0;
}

p, q, button, input, textarea {
  font-family: "Satoshi", sans-serif;
}

button, a {
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: unset;
}

input {
  background-color: none;
}

.home__header {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.home__header .home__header-section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (min-height: 900px) and (max-width: 1700px) {
  .home__header .home__header-section {
    max-height: 60vh;
    min-height: 60vh;
  }
}
.home__header .home__header-article {
  padding: 3rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 1700px) {
  .home__header .home__header-article {
    padding: 3rem 5vw;
  }
}
.home__header .title {
  margin-bottom: 15vh;
}
@media screen and (max-width: 1200px) {
  .home__header .title {
    margin-bottom: 10vh;
  }
}
.home__header .navbar {
  width: 60%;
  align-self: flex-end;
  margin-bottom: 15vh;
}
@media screen and (max-width: 1700px) {
  .home__header .navbar {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .home__header .navbar {
    margin-bottom: 10vh;
  }
}
.home__header .nav__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.home__header .nav__item {
  font-size: 1.2rem;
}
.home__header .content {
  max-width: 100%;
}
.home__header .home__header-banner {
  border-radius: 1rem;
  position: relative;
  width: 80vw;
  height: auto;
  top: -10vh;
  left: 10vw;
}
@media screen and (max-width: 1700px) {
  .home__header .home__header-banner {
    width: 90vw;
    left: 5vw;
  }
}

.home__main {
  position: relative;
  width: 100%;
  min-height: 160vh;
}
.home__main .main__section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 15vh;
  padding: 0 10vw;
}
.home__main .main__section1 .section__heading {
  text-align: center;
  margin-bottom: 10vh;
}
.home__main .main__section1 .section1__ic-container {
  width: 60%;
}
@media screen and (max-width: 1700px) {
  .home__main .main__section1 .section1__ic-container {
    width: 80%;
  }
}
.home__main .main__section1 .ic__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__main .main__section1 .ic__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #B7A3FF;
  margin-bottom: 2rem;
}
.home__main .main__section1 .ic__item-icon {
  width: 30px;
  height: auto;
}
.home__main .main__section2 {
  width: 100%;
  background-color: #B7A3FF;
}
.home__main .section__wrapper {
  width: 100%;
  padding: 10vh 10vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10vh;
  background-size: 140%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1700px) {
  .home__main .section__wrapper {
    padding: 10vh 5vw;
  }
}
.home__main .card__item {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 1700px) {
  .home__main .card__item {
    width: 40vw;
  }
}
.home__main .card__heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1700px) {
  .home__main .card__heading {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 1200px) {
  .home__main .card__heading {
    font-size: 2rem;
  }
}
.home__main .main__section3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10vh 10vw;
  width: 100%;
}
@media screen and (max-width: 1700px) {
  .home__main .main__section3 {
    padding: 10vh 5vw;
  }
}
.home__main .main__section3 .section__heading {
  width: 80%;
}
.home__main .main__section3 .text {
  width: 50%;
  align-self: flex-end;
}
.home__main .main__section4 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-height: 900px) and (max-width: 1700px) {
  .home__main .main__section4 {
    height: 70vh;
  }
}
.home__main .main__section4 .article {
  display: block;
  width: 50%;
  height: 100%;
}
.home__main .main__section4 .illustration {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home__main .main__section4 .subheading {
  margin-bottom: 4rem;
}
@media screen and (max-width: 1700px) {
  .home__main .main__section4 .subheading {
    margin-bottom: 2rem;
  }
}
.home__main .main__section4 .section__form {
  width: 50%;
  height: 100%;
  background-color: #B7A3FF;
}
.home__main .main__section4 .section__form .pattern__wrapper {
  width: 100%;
  height: 100%;
  padding: 0 10vw 0 10%;
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 1700px) {
  .home__main .main__section4 .section__form .pattern__wrapper {
    padding: 0 5vw 0 5%;
  }
}
.home__main .main__section4 .section__form form {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.home__main .main__section4 .section__form .form__input {
  width: 80%;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #101010;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
}
.home__main .main__section4 .section__form .form__input::-moz-placeholder {
  color: #101010;
}
.home__main .main__section4 .section__form .form__input::placeholder {
  color: #101010;
}
.home__main .main__section4 .section__form .form__input:focus {
  outline: none;
  border: 2px solid #101010;
}
@media screen and (max-width: 1700px) {
  .home__main .main__section4 .section__form .form__input {
    padding: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .home__main .main__section4 .section__form .form__input {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.home__main .main__section4 .section__form .form__area {
  width: 80%;
  min-height: 16rem;
  resize: none;
  scrollbar-width: 0;
  scrollbar-color: #FFFFFF transparent;
}
.home__main .main__section4 .section__form .form__area::-webkit-scrollbar {
  width: 0;
}
@media screen and (max-width: 900) {
  .home__main .main__section4 .section__form .form__area::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
.home__main .main__section4 .section__form .form__area::-webkit-scrollbar-track {
  background: transparent;
}
.home__main .main__section4 .section__form .form__area::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}
@media screen and (max-width: 1700px) {
  .home__main .main__section4 .section__form .form__area {
    min-height: 10rem;
  }
}
@media screen and (max-width: 1200px) {
  .home__main .main__section4 .section__form .form__area {
    width: 100%;
  }
}
.home__main .main__section4 .section__form .error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1200px) {
  .home__main .main__section4 .section__form .error {
    margin-bottom: 1rem;
  }
}
.home__main .main__section4 .section__form svg {
  margin-right: 0.3rem;
}
.home__main .main__section4 .section__form .button__dark {
  padding: 1.5rem 6rem;
}
@media screen and (max-width: 1700px) {
  .home__main .main__section4 .section__form .button__dark {
    padding: 1rem 4rem;
  }
}

.home__footer {
  width: 100%;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1700px) {
  .home__footer {
    padding: 10vh 5vw;
  }
}
.home__footer .nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.pool__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pool__container .form__section {
  background-color: #B7A3FF;
  width: 50%;
  height: 100vh;
}
.pool__container .form__wrapper {
  width: 100%;
  height: 100%;
  background-size: 160%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 10vw 3rem 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pool__container .navbar {
  width: 60%;
  align-self: flex-end;
  margin-bottom: 15vh;
}
@media screen and (max-width: 1700px) {
  .pool__container .navbar {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .pool__container .navbar {
    margin-bottom: 10vh;
  }
}
.pool__container .navbar .nav__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.pool__container .navbar .nav__item {
  font-size: 1.2rem;
}
.pool__container form {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.pool__container .form__input {
  width: 80%;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #101010;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
}
.pool__container .form__input::-moz-placeholder {
  color: #101010;
}
.pool__container .form__input::placeholder {
  color: #101010;
}
.pool__container .form__input:focus {
  outline: none;
  border: 2px solid #101010;
}
@media screen and (max-width: 1700px) {
  .pool__container .form__input {
    padding: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .pool__container .form__input {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.pool__container .form__area {
  width: 80%;
  min-height: 16rem;
  resize: none;
  scrollbar-width: 0;
  scrollbar-color: #FFFFFF transparent;
}
.pool__container .form__area::-webkit-scrollbar {
  width: 0;
}
@media screen and (max-width: 900) {
  .pool__container .form__area::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
.pool__container .form__area::-webkit-scrollbar-track {
  background: transparent;
}
.pool__container .form__area::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}
@media screen and (max-width: 1700px) {
  .pool__container .form__area {
    min-height: 10rem;
  }
}
@media screen and (max-width: 1200px) {
  .pool__container .form__area {
    width: 100%;
  }
}
.pool__container .pool__section {
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #FFFFFF #101010;
}
.pool__container .pool__section::-webkit-scrollbar {
  width: 12px;
}
@media screen and (max-width: 900px) {
  .pool__container .pool__section::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
.pool__container .pool__section::-webkit-scrollbar-track {
  background: #101010;
}
.pool__container .pool__section::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}
.pool__container .pool__section .landing {
  padding: 3rem 5vw 0 10vw;
}
.pool__container .pool__section .landing .title {
  font-size: 1.5rem;
  margin-bottom: 15vh;
}
@media screen and (max-width: 1200px) {
  .pool__container .pool__section .landing .title {
    margin-bottom: 10vh;
  }
}
.pool__container .pool__section .section__skills {
  background-color: #B7A3FF;
}
.pool__container .pool__section .container {
  background-size: 160%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 5vw 5rem 10vw;
}
.pool__container .pool__section .sub {
  font-size: 2rem;
}
.pool__container .pool__section .section__resources {
  padding: 3rem 5vw 3rem 10vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pool__container .pool__section .search__bar {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  padding: 1rem;
  transition: all 0.15s ease-in-out;
}
.pool__container .pool__section .search__bar-active {
  border-bottom: 3px solid #B7A3FF;
}
.pool__container .pool__section .search__input {
  width: 100%;
  border: none;
  background-color: transparent;
}
.pool__container .pool__section .search__input:focus {
  outline: none;
}
@media screen and (max-width: 1200px) {
  .pool__container .pool__section .search__input {
    width: 80%;
  }
}
.pool__container .pool__section .search__button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pool__container .pool__section .resources__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pool__container .pool__section .resource__card {
  width: 100%;
  padding: 3rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #B7A3FF;
}

.cursus__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cursus__container .form__section {
  background-color: #B7A3FF;
  width: 50%;
  height: 100vh;
}
.cursus__container .form__wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #FFFFFF #101010;
  background-size: 160%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 10vw 3rem 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cursus__container .form__wrapper::-webkit-scrollbar {
  width: 12px;
}
@media screen and (max-width: 900px) {
  .cursus__container .form__wrapper::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
.cursus__container .form__wrapper::-webkit-scrollbar-track {
  background: #101010;
}
.cursus__container .form__wrapper::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}
@media screen and (max-width: 1700px) {
  .cursus__container .form__wrapper {
    padding: 3rem 5vw 3rem 5vw;
  }
}
.cursus__container .navbar {
  width: 60%;
  align-self: flex-end;
  margin-bottom: 15vh;
}
@media screen and (max-width: 1700px) {
  .cursus__container .navbar {
    width: 80%;
    margin-bottom: 10vh;
  }
}
.cursus__container .navbar .nav__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.cursus__container .navbar .nav__item {
  font-size: 1.2rem;
}
.cursus__container .heading {
  margin-bottom: 2rem;
}
@media screen and (max-width: 1700px) {
  .cursus__container .heading {
    margin-bottom: 1rem;
  }
}
.cursus__container .subheading {
  margin-bottom: 6rem;
}
@media screen and (max-width: 1700px) {
  .cursus__container .subheading {
    margin-bottom: 2rem;
  }
}
.cursus__container form {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.cursus__container .form__input {
  width: 80%;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #101010;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
}
.cursus__container .form__input::-moz-placeholder {
  color: #101010;
}
.cursus__container .form__input::placeholder {
  color: #101010;
}
.cursus__container .form__input:focus {
  outline: none;
  border: 2px solid #101010;
}
@media screen and (max-width: 1700px) {
  .cursus__container .form__input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-height: 1000px) {
  .cursus__container .form__input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
.cursus__container .form__area {
  width: 80%;
  min-height: 16rem;
  resize: none;
  scrollbar-width: 0;
  scrollbar-color: #FFFFFF transparent;
}
.cursus__container .form__area::-webkit-scrollbar {
  width: 0;
}
@media screen and (max-width: 900) {
  .cursus__container .form__area::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
.cursus__container .form__area::-webkit-scrollbar-track {
  background: transparent;
}
.cursus__container .form__area::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}
@media screen and (max-width: 1700px) {
  .cursus__container .form__area {
    min-height: 10rem;
    width: 100%;
  }
}
.cursus__container .cursus__section {
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #FFFFFF #101010;
}
.cursus__container .cursus__section::-webkit-scrollbar {
  width: 12px;
}
@media screen and (max-width: 900px) {
  .cursus__container .cursus__section::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
.cursus__container .cursus__section::-webkit-scrollbar-track {
  background: #101010;
}
.cursus__container .cursus__section::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}
.cursus__container .cursus__section .landing {
  padding: 3rem 5vw 0 10vw;
}
@media screen and (max-width: 1700px) {
  .cursus__container .cursus__section .landing {
    padding: 3rem 5vw 0 5vw;
  }
}
.cursus__container .cursus__section .landing .title {
  font-size: 1.5rem;
  margin-bottom: 15vh;
}
@media screen and (max-width: 1700px) {
  .cursus__container .cursus__section .landing .title {
    margin-bottom: 10vh;
  }
}
.cursus__container .cursus__section .section__skills {
  background-color: #B7A3FF;
}
.cursus__container .cursus__section .container {
  background-size: 160%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 5vw 5rem 10vw;
}
@media screen and (max-width: 1700px) {
  .cursus__container .cursus__section .container {
    padding: 3rem 0 0 0;
  }
}
.cursus__container .cursus__section .sub {
  font-size: 2rem;
}
.cursus__container .cursus__section .section__resources {
  padding: 3rem 5vw 3rem 10vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 1700px) {
  .cursus__container .cursus__section .section__resources {
    padding: 3rem 5vw 3rem 5vw;
  }
}
.cursus__container .cursus__section .search__bar {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  padding: 1rem;
  transition: all 0.15s ease-in-out;
}
.cursus__container .cursus__section .search__bar-active {
  border-bottom: 3px solid #B7A3FF;
}
.cursus__container .cursus__section .search__input {
  width: 100%;
  border: none;
  background-color: transparent;
}
.cursus__container .cursus__section .search__input:focus {
  outline: none;
}
@media screen and (max-width: 1200px) {
  .cursus__container .cursus__section .search__input {
    width: 80%;
  }
}
.cursus__container .cursus__section .search__button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cursus__container .cursus__section .resources__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cursus__container .cursus__section .resource__card {
  width: 100%;
  padding: 3rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #B7A3FF;
}
.cursus__container .card {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid #B7A3FF;
}
.cursus__container .card:not(:last-child) {
  margin-bottom: 3rem;
}
.cursus__container .title__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cursus__container .title__container .back__arrow {
  margin-right: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 1.4rem;
  border-radius: 3rem;
  border: 1px solid #FFFFFF;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.cursus__container .title__container .back__arrow:hover {
  background-color: #B7A3FF;
  border: 1px solid transparent;
}
.cursus__container .title__container h1 {
  padding: 0;
  margin: 0;
  color: #B7A3FF;
}

.s-home__header {
  min-height: 100vh;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.s-home__header .s-heading__wrapper {
  width: 100%;
  padding: 5vh 1rem;
}
.s-home__header .s-header__section {
  width: 100%;
  padding: 5vh 1rem;
  background-color: #B7A3FF;
}
.s-home__header .s-header__banner {
  width: 94vw;
  height: auto;
  position: relative;
  top: -3rem;
  border-radius: 8px;
  background-color: #B7A3FF;
}

.s-home__main .s-main__section1 {
  width: 100%;
}
.s-home__main .s-main__section1 .s-tips__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-home__main .s-main__section1 .s-ic__item {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-home__main .s-main__section1 .s-ic__item-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #B7A3FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-home__main .s-main__section2 {
  background-color: #B7A3FF;
  padding: 5vh 1rem;
}
.s-home__main .s-card__item:not(:last-child) {
  margin-bottom: 6rem;
}
.s-home__main .s-main__section3 {
  width: 100%;
  padding: 3rem 1rem;
}
.s-home__main .s-main__section3 .s-text {
  line-height: 140%;
}
.s-home__main .s-main__section4 {
  background-color: #B7A3FF;
  padding-bottom: 2rem;
}
.s-home__main .s-main__section4 .s-contact__illustration {
  width: 100%;
  height: auto;
}
.s-home__main .s-main__section4 .s-section__form {
  padding: 0 1rem;
}
.s-home__main .s-main__section4 .s-form__input {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #101010;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
}
.s-home__main .s-main__section4 .s-form__input::-moz-placeholder {
  color: #101010;
}
.s-home__main .s-main__section4 .s-form__input::placeholder {
  color: #101010;
}
.s-home__main .s-main__section4 .s-form__input:focus {
  outline: none;
  border: 2px solid #101010;
}
.s-home__main .s-main__section4 .s-form__area {
  height: 12rem;
}
.s-home__main .s-main__section4 .s-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.s-home__main .s-main__section4 svg {
  margin-right: 0.5rem;
}
.s-home__main .s-main__section4 .button__dark {
  padding: 1rem 0;
  width: 100%;
}

.s-home__footer {
  padding: 2rem 1rem;
}
.s-home__footer .nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
}

.s-pool__wrapper {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-pool__wrapper a {
  width: 100%;
  height: 60px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.s-pool__wrapper .search__bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  padding: 1rem;
  transition: all 0.15s ease-in-out;
}
.s-pool__wrapper .search__bar .search__bar-active {
  border-bottom: 3px solid #B7A3FF;
}
.s-pool__wrapper .search__input {
  width: 100%;
  border: none;
  background-color: transparent;
}
.s-pool__wrapper .search__input:focus {
  outline: none;
}
@media screen and (max-width: 1200px) {
  .s-pool__wrapper .search__input {
    width: 80%;
  }
}
.s-pool__wrapper .search__button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.s-pool__wrapper .resources__wrapper {
  width: 100%;
  padding: 4rem 0;
}
.s-pool__wrapper .resources__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-pool__wrapper .resource__card {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #B7A3FF;
}

.s-cursus__wrapper {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-cursus__wrapper a {
  width: 100%;
  height: 60px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.s-cursus__wrapper .section__resources {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.s-cursus__wrapper .search__bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  padding: 1rem;
  transition: all 0.15s ease-in-out;
}
.s-cursus__wrapper .search__bar-active {
  border-bottom: 3px solid #B7A3FF;
}
.s-cursus__wrapper .search__input {
  width: 100%;
  border: none;
  background-color: transparent;
}
.s-cursus__wrapper .search__input:focus {
  outline: none;
}
.s-cursus__wrapper .search__button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.s-cursus__wrapper .resources__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-cursus__wrapper .resource__card {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #B7A3FF;
}
.s-cursus__wrapper .card {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #B7A3FF;
}
.s-cursus__wrapper .card:not(:last-child) {
  margin-bottom: 3rem;
}
.s-cursus__wrapper .card button {
  width: 100%;
  height: 60px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.s-cursus__wrapper .title__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.s-cursus__wrapper .title__container .back__arrow {
  margin-right: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 1.4rem;
  border-radius: 3rem;
  border: 1px solid #FFFFFF;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.s-cursus__wrapper .title__container .back__arrow:hover {
  background-color: #B7A3FF;
  border: 1px solid transparent;
}
.s-cursus__wrapper .title__container h1 {
  padding: 0;
  margin: 0;
  color: #B7A3FF;
}

.tips__header {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 1200px) {
  .tips__header {
    padding-top: 10vh;
  }
}
.tips__header .header__banner {
  background-color: #B7A3FF;
  width: 100%;
}
.tips__header .header__banner .banner__pattern {
  width: 100vw;
  padding: 10vh 20vw 16vh 20vw;
}
@media screen and (max-width: 1200px) {
  .tips__header .header__banner .banner__pattern {
    padding: 10vh 1rem 16vh 1rem;
  }
}
.tips__header .header__banner .banner__pattern .heading {
  font-size: 1.8rem;
}
.tips__header .header__banner .banner__pattern * {
  font-family: "syne", sans-serif;
}
.tips__header .image__container {
  position: relative;
}
.tips__header .ct_banner {
  width: 60vw;
  height: auto;
  position: absolute;
  right: 20vw;
  top: -8vh;
  border-radius: 12px;
}
@media screen and (max-width: 1200px) {
  .tips__header .ct_banner {
    width: calc(100vw - 2rem);
    right: 1rem;
    top: -10vh;
  }
}
.tips__header .pt_banner {
  width: 60vw;
  height: auto;
  position: absolute;
  right: 20vw;
  top: -8vh;
  border-radius: 12px;
}
@media screen and (max-width: 1200px) {
  .tips__header .pt_banner {
    width: calc(100vw - 2rem);
    right: 1rem;
    top: -10vh;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 20vw;
}
.navigation .nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigation .nav__list :not(:last-child) {
  margin-right: 4rem;
}
@media screen and (max-width: 1700px) {
  .navigation .nav__list :not(:last-child) {
    margin-right: 2rem;
  }
}

.tips__main {
  width: 100%;
  padding: 0 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tips__main .description {
  width: 30vw;
}
@media screen and (max-width: 1700px) {
  .tips__main .description {
    width: 40vw;
  }
}
@media screen and (max-width: 1200px) {
  .tips__main .description {
    width: 100vw;
    padding: 0 1rem;
  }
}
.tips__main .list * {
  list-style: circle inside;
}
.tips__main .list .list__item:not(:last-child) {
  margin-bottom: 1rem;
}

.tips__footer .home__footer {
  border-top: 1px solid #FFFFFF;
  padding: 2vh 20vw 2vh 20vw;
  margin-top: 10vh;
}
.tips__footer .s-home__footer {
  border-top: 1px solid #FFFFFF;
  margin-top: 10vh;
}/*# sourceMappingURL=index.css.map */